/* Header spécifique aux constructeurs */
.constructor-header {
    background: linear-gradient(rgb(240,230,140), rgb(240,230,140)),
    url('https://cdn-1.motorsport.com/images/mgl/6Z3rLjb0/s1200/f1-monaco-gp-2023-charles-le-1.webp');
}

/* Conteneur des constructeurs */
.constructor-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

/* taille du logo */
.constructor-portrait {
    max-height: 100px;
}

/* case avec nom... */
.constructor-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-left: 4px solid #e10600;
}

/* passer avec la souris sur la case */
.constructor-card:hover {
    transform: translateY(-5px);
}

.constructor-info {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.constructor-name {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    color: #e10600;
    margin-bottom: 0.5rem;
}

.constructor-nationality {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* Lien de retour */
.home-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s;
}

.home-link:hover {
    opacity: 0.8;
    text-decoration: underline;
}